/* Stili per tabelle */
.pGI,
.Offset {
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  border-collapse: collapse;
}

.pGI th,
.Offset th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.pGI td,
.Offset td{
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

.pGI, td,
.pGI th {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Colori per stato */
.checked-row {
    background-color: #d4edda;
  }
  
  .unchecked-row {
    background-color: #f8d7da;
  }
  
  /* Stili per checkbox disabilitati */
  input[type="checkbox"][disabled] {
    opacity: 1;
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
  }
  
  input[type="checkbox"][disabled] {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #d4edda;
    border: 2px solid #d4edda;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  
  input[type="checkbox"][disabled]:checked {
    background-color: #008000;
    border: 2px solid #008000;
  }
  
  input[type="checkbox"][disabled]:not(:checked) {
    background-color: #ff6384;
    border: 2px solid #ff6384;
  }
  
  input[type="checkbox"][disabled]:checked::after {
    content: "✓";
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.pagination button:hover {
  background-color: gray;
}

.pagination button:active {
    background-color: #ccc;
}
  /* Grafico a torta */
#OffsetGraficoATorta {
    max-width: 70%; /* Limita la larghezza massima al 50% del contenitore */
    width: 70%; /* Imposta la larghezza al 50% del contenitore */
    margin: 0 auto; /* Centra il grafico */
    display: block; /* Visualizzazione in blocco */
  }