/* Stile generale per la pagina */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Sezione per la tabella */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px; /* Spazio inferiore tra le tabelle e altri elementi */
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Evidenziazione delle righe con stato "corretto" */
.checked-row {
  background-color: #d4edda; /* Verde chiaro per la riga corretta */
}

/* Evidenziazione delle righe con stato "errato" */
.unchecked-row {
  background-color: #f8d7da; /* Rosso chiaro per la riga errata */
}

/* Stile per la paginazione delle tabelle */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd; /* Colore di sfondo al passaggio del mouse */
}

/* Stile per il campo di ricerca della tabella */
#tableSearch {
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
}

/* Sezione per i grafici */
#OffsetGraficoATorta, #OffsetGraficoBarre {
  width: 100%;
  max-width: 600px; /* Impostato un massimo di larghezza per i grafici */
  height: 400px;
  margin: 0 auto 30px; /* Centra il grafico e aggiunge uno spazio inferiore */
}

/* Stile per la sezione delle statistiche sotto al grafico a torta */
#statistics {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

#statistics p {
  margin: 5px 0;
}

/* Testo in grassetto per evidenziare le statistiche */
#statistics strong {
  font-weight: bold;
}