/* Stili per tabelle */
.Georeferenziazione,
.Coordination {
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  border-collapse: collapse;
}

.Georeferenziazione th,
.Coordination th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.Georeferenziazione td,
.Coordination td {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

.Georeferenziazione td,
.Georeferenziazione th {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Stili per checkbox disabilitati */
input[type="checkbox"][disabled] {
  opacity: 1;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  appearance: none;
}

input[type="checkbox"][disabled]:checked {
  background-color: #008000;
  border: 2px solid #008000;
}

input[type="checkbox"][disabled]:not(:checked) {
  background-color: #ff6384;
  border: 2px solid #ff6384;
}

input[type="checkbox"][disabled]:checked::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"][disabled]:not(:checked)::after {
  content: "X";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
