.Uno img.Cliente {
  display: block; /* Evita spazi indesiderati attorno all'immagine */
  margin: 0 auto; /* Centra orizzontalmente l'immagine */
}
/* Stili per tabelle */
.Dati,
.LineeGuida,
#Verifiche,
.Cluster {
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  border-collapse: collapse;
}

.Dati th,
.LineeGuida th,
#Verifiche th,
.Cluster th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  hyphens: auto;
  word-wrap: break-word;
}

.Dati td,
.LineeGuida td,
#Verifiche td,
.Cluster td {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

.Dati tr:nth-child(odd),
.LineeGuida tr:nth-child(odd),
.Cluster tr:nth-child(odd) {
  background-color: #d4d4d4;
}

.Dati tr:nth-child(even),
.LineeGuida tr:nth-child(even),
.Cluster tr:nth-child(even) {
  background-color: #e6e6e6;
}

/* Colori per stato */
.checked-row {
  background-color: #d4edda;
}

.unchecked-row {
  background-color: #f8d7da;
}

/* Stili per checkbox disabilitati */
input[type="checkbox"][disabled] {
  opacity: 1;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
}

input[type="checkbox"][disabled] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #d4edda;
  border: 2px solid #d4edda;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"][disabled]:checked {
  background-color: #008000;
  border: 2px solid #008000;
}

input[type="checkbox"][disabled]:not(:checked) {
  background-color: #ff6384;
  border: 2px solid #ff6384;
}

input[type="checkbox"][disabled]:checked::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"][disabled]:not(:checked)::after {
  content: "X";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Grafico a torta */
#GraficoATorta {
  max-width: 70%; /* Limita la larghezza massima al 50% del contenitore */
  width: 70%; /* Imposta la larghezza al 50% del contenitore */
  margin: 0 auto; /* Centra il grafico */
  display: block; /* Visualizzazione in blocco */
}
